.full-width {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

.logo-container{
    text-align: center;
}
.white-space{
  white-space: pre-line
}
.buttons{
  position: absolute;
  right: 0;
  margin-top: 10px;
}
.center{
  text-align: center;
}